body {
  height: 98vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('http://bit.ly/2gPLxZ4');
  background-repeat: no-repeat;
  background-size: cover;
}
#heading{
  color: white;
}

#translate_box {
  background-color: rgba(255, 255, 255, .15);   
  backdrop-filter: blur(10px);
  width: 50%;
  height: 60%;
  padding: 1% 1%;
  box-sizing: border-box;
  display: grid;
  gap: 1%;
  grid-template:
    "a b"
    "a b"
    "a b"
    "a b"
    "a b"
    "a b"
    "c c";
}
.language {
  box-sizing: border-box;
}
#input_box {
  grid-area: a;
}
#input_language {
  width: 100%;
  height: 2.5em;
  font-size: 1em;
}
#output_language {
  width: 100%;
  height: 2.5em;
  font-size: 1em;
}
#output_box {
  grid-area: b;
}
#button_box {
  grid-area: c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.box {
  width: 100%;
  height: 90%;
  resize: none;
  padding: 4%;
  font-size: 2em;
  box-sizing: border-box;
  background-color: rgb(243, 243, 243);
}

textarea:hover {
  background-color: #f6edf7;
}

#translate {
  width: 10em;
  height: 30%;
  font-size: 1em;
  padding: 1% 1% 2.5%;
  box-sizing: border-box;
}
#copy{
  color: white;
  margin: 10px;
}